body{
  color: #ddd;
  background: #000;
}
.wrap{
  position: fixed;
  width: 100vw;
  height: 100vh;
  perspective: 1300px;
}
.wrap > video{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.wrap #container{
  position: absolute;
  width: 400px;
  height: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrap #container article{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.wrap #container article h1{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  opacity: 0;
  transition: all 0.5s;
}
.wrap #container article:hover h1{
  opacity: 1;
  top: -40px;
}
.wrap #container article .inner > div:hover i{
  color: rgb(184, 252, 229);
  text-shadow: 0px 0px 10px aqua;
  transform: scale(1.2);
  transition: all 0.5s;
}
.wrap #container article .inner > div:hover h2{
  color: rgb(184, 252, 229);
  text-shadow: 0px 0px 10px aqua;
}
.wrap #container article .inner{
  width: 100%;
  height: 100%;
}
.wrap #container article .inner > div{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.06);
  padding: 50px;
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}
.wrap #container article .inner > div:hover{
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
  opacity: 1;
}

/* item1 */
.wrap #container article.item1 .inner > div{
  width: 180px;
  height: 170px;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}
.wrap #container article.item1 .inner > div:nth-child(2n-1){
  margin-right: 20px;
}
.wrap #container article.item1 .inner > div p i{
  font-size: 50px;
  transition: all 0.5s;
  opacity: 0.5;
}
.wrap #container article.item1 .inner h2{
  margin-top: 15px;
  letter-spacing: 1px;
  transition: all 0.5s;
}

/* item2 */
.wrap #container article.item2 .inner img{
  width: 100%;
  margin: 20px 0 25px;
}
.wrap #container article.item2 .inner h3{
  color: #fff;
  margin-bottom: 15px;
}

/* item3 */
.wrap #container article.item3 .inner > div{
  height: 170px;
  margin-bottom: 20px;
}
.wrap #container article.item3 .inner .memberImg{
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}
.wrap #container article.item3 .inner .memberImg img{
  position: absolute;
  top: -10px;
  left: 0;
  width: 80px;
  height: 100px;
}
.wrap #container article.item3 .inner .memberInfo{
  margin-left: 100px;
}
.wrap #container article.item3 .inner .memberInfo h2{
  color: #fff;
  margin: -10px 0 10px 0;
}
.wrap #container article.item3 .inner .memberInfo span{
  position: absolute;
  right: 50px;
  bottom: 20px;
  color: aqua;
  opacity: 0.5;
}

/* item4 */
.wrap #container article.item4 .inner > div{
  float: left;
  margin-bottom: 20px;
}
.wrap #container article.item4 .inner > div h2{
  margin: 20px 0;
}
.wrap #container article.item4 .inner .proBox{
  height: 375px;
}
.wrap #container article.item4 .inner .proBox video{
  width: 100%;
  height: 166px;
  border: 1px solid #fff;
}
.wrap #container article.item4 .inner .infoBox{
  height: 155px;
  padding: 30px 50px;
}
.wrap #container article.item4 .inner .infoBox em{
  float: right;
  font-size: 10px;
  color: #ccc;
}

/* item5 */
.wrap #container article.item5{
  display: block;
}
.wrap #container article.item5 .inner .title{
  width: 40%;
}
.wrap #container article.item5 .inner .mainImg{
  width: 100%;
  margin: 20px 0;
}
.wrap #container article.item5 .inner .subTitle{
  width: 90%;
}
.wrap #container article.item5 .inner button{
  text-align: left;
  margin-top: 30px;
}
.wrap #container article.item5 .inner button img{
  width: 60%;
}
.wrap #container article.item5 .inner .reflect{
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.5s;
  width: 80%;
}
.wrap #container article.item5:hover .inner .reflect{
  top: -40%;
}